body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0; border: 0; margin: 0;
    overflow: hidden;
}
.header-grid {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat( 5, 1fr);
    background-color: lightgray;

    padding: 1.5rem;

    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    
}

.header-grid div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button {
    border-style: solid;
    border-radius: 25%;
    border-color: gray;
    background-color: white;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(70, 64, 64);

    margin-right: 1rem;
    margin-left: 1rem;

    display: flex;
    justify-content: space-between;
    height: 2rem;
}
.logo{
    grid-column: span 2;
    font-size:larger;
    font-weight: bolder;
    padding-right: 2rem;
}
.text-button {
    font-weight: bold;
}
@media (min-width: 500px){
    .logo{
        font-size:xx-large;
    }
}
@media (max-width: 1100px) {
    #About-text, #share-text, #homepage-text{
        display: none;
    }
}
@media (min-width: 1101px) {
    .fa {
        padding-left: 1rem;
    }
}